.body {
  background-color:  #1e2020;  
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  vertical-align: top;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: aliceblue;
}

/* video and basic layout */
.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: space-between;
}

.videos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: space-between;
}

#user-video {
  border-radius: 25px;
  padding: 10px;
}

#client-video {
  border-radius: 25px;
}

/* chat */

.chat {
  flex-grow: 2;
}

#chatlist{
  background-color: rgb(85, 82, 82);
}

/* List */
ul {
  counter-reset: index;  
  padding: 0;
}

/* List element */
li {
  counter-increment: index; 
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 25px 0;
  border-radius: 25px;
}

/* Element counter 
li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* My Name Text */
.message-name {
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 12px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-image: linear-gradient(to bottom, aquamarine, orangered);
  background-attachment: fixed;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


/* Element separation */
li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
  border-radius: 25px;
}